<div class="container-fluid">
  <div id="carousel-example" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner row w-100 mx-auto" role="listbox">
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active" >
                <div class="pix-carousel" style="background-image: url(../../assets/lodges/04567800_1555903376.jpg); height: 500px; background-position:center center">
                 
                </div>
        </div>
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 " >
          <div class="pix-carousel" style="background-image: url(../../assets/lodges/04567800_1555903376.jpg); height: 500px; background-position:center center">
            
          </div>
  </div>
  <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 " >
    <div class="pix-carousel" style="background-image: url(../../assets/lodges/04567800_1555903376.jpg); height: 500px; background-position:center center">
    
    </div>
</div>
<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 " >
  <div class="pix-carousel" style="background-image: url(../../assets/lodges/04567800_1555903376.jpg); height: 500px; background-position:center center">
    
  </div>
</div>
<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 " >
  <div class="pix-carousel" style="background-image: url(../../assets/lodges/04567800_1555903376.jpg); height: 500px; background-position:center center">
    
  </div>
</div>
<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 " >
  <div class="pix-carousel" style="background-image: url(../../assets/lodges/04567800_1555903376.jpg); height: 500px; background-position:center center">
    juubbcubcubguu
  </div>
</div>
<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 " >
  <div class="pix-carousel" style="background-image: url(../../assets/lodges/04567800_1555903376.jpg); height: 500px; background-position:center center">
    
  </div>
</div>
<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 " >
  <div class="pix-carousel" style="background-image: url(../../assets/lodges/04567800_1555903376.jpg); height: 500px; background-position:center center">
    
  </div>
</div>
       
    </div>
    <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class=" details">
 <div class="box">
    <div id="topbuttons" class="col-md-12">
        <div class="btn-group btn-group-lg visible-md visible-lg all_records ">
          <a class="btn btn-danger"  (click)="access(1)"><i class="fa fa-plus-circle"></i>Ban</a>
        </div>
        <div class="btn-group btn-group-lg visible-md visible-lg all_records ">
            <a class="btn btn-success"  (click)="access(2)"><i class="fa fa-plus-circle"></i>Approve</a>
          </div>
          <div class="btn-group btn-group-lg visible-md visible-lg all_records ">
              <a class="btn btn-info"  (click)="access(3)"><i class="fa fa-plus-circle"></i>Delete</a>
            </div>
        <hr>
      </div>
   <div class="prop-details">
      <ul>
        <li>
          <div class="list_box">
            <h5 class="text-blue">Baths</h5>
            <p>{{list['bathroom']}}</p>
          </div>
        </li>
        <li>
          <div class="list_box">
            <h5 class="text-blue">Bedroom</h5>
            <p>{{list['bedroom']}}</p>
          </div>
        </li>
        <li>
            <div class="list_box">
              <h5 class="text-blue">Type</h5>
              <p>{{list['Type']}}</p>
            </div>
          </li>
        <li>
          <div class="list_box">
            <h5 class="text-blue">State</h5>
            <p>{{list['state']}}</p>
          </div>
        </li>
        <li>
          <div class="list_box">
            <h5 class="text-blue">Cost</h5>
            <p>{{list['cost']}}</p>
          </div>
        </li>
        <li>
          <div class="list_box">
            <h5 class="text-blue">Posted</h5>
            <p>{{list['publish']}}</p>
          </div>
        </li>
        <li>
          <div class="list_box">
            <h5 class="text-blue">Views</h5>
            <p>{{list['Views']}}</p>
          </div>
        </li>
        <li>
          <div class="list_box">
            <h5 class="text-blue">Baths</h5>
          </div>
        </li>
        <li>
          <div class="list_box">
            <h5 class="text-blue">Baths</h5>
          </div>
        </li>
      </ul>
   </div>
 </div>
</div>
</div>
