<div class="container-fluid">
    <div class="wrapper">
      <div class="row">
        <div class="col-md-4">
            <div class="qodef-package-item qodef-item-space">
                <div class="qodef-package-item-inner">
                    <div class="qodef-package-title-holder">
                <h5 class="qodef-package-title">Standard</h5>
                </div>
            <div class="qodef-package-content-holder">
              <div class="qodef-package-price">
                $58	</div>
              <div class="qodef-package-price-dash">
                <span class="qodef-dash"></span>
              </div>
              <div class="qodef-package-content">
                <div class="qodef-package-listings">
                    <span class="qodef-listings-label">
                        Listings Included:		    </span>
                  <span class="qodef-listings-value">
                        2		    </span>
                </div>
                <div class="qodef-package-featured">
                    <span class="qodef-featured-label">
                        Featured Included:		    </span>
                  <span class="qodef-featured-value">
                        1		    </span>
                </div>
                <div class="qodef-package-duration">
                    <span class="qodef-duration-label">
                        Duration (months):		    </span>
                  <span class="qodef-duration-value">
                        12		    </span>
                </div>
              </div>
              <div class="qodef-package-action">
                <div  class="qodef-btn qodef-btn-medium qodef-btn-simple" (click)="pay(3,'vip_3',200)">       
                   <span class="qodef-btn-text">Buy Package</span>  
                </div>	
               </div>
            </div> 
           </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="qodef-package-item qodef-item-space">
                <div class="qodef-package-item-inner">
                    <div class="qodef-package-title-holder">
                <h5 class="qodef-package-title">Standard</h5>
                </div>
            <div class="qodef-package-content-holder">
              <div class="qodef-package-price">
                $58	</div>
              <div class="qodef-package-price-dash">
                <span class="qodef-dash"></span>
              </div>
              <div class="qodef-package-content">
                <div class="qodef-package-listings">
                    <span class="qodef-listings-label">
                        Listings Included:		    </span>
                  <span class="qodef-listings-value">
                        2		    </span>
                </div>
                <div class="qodef-package-featured">
                    <span class="qodef-featured-label">
                        Featured Included:		    </span>
                  <span class="qodef-featured-value">
                        1		    </span>
                </div>
                <div class="qodef-package-duration">
                    <span class="qodef-duration-label">
                        Duration (months):		    </span>
                  <span class="qodef-duration-value">
                        12		    </span>
                </div>
              </div>
              <div class="qodef-package-action">
                <div  class="qodef-btn qodef-btn-medium qodef-btn-simple" (click)="pay(14,'vip_14',500)">       
                   <span class="qodef-btn-text">Buy Package</span>  
                </div>	
               </div>
            </div>   
           </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="qodef-package-item qodef-item-space">
                <div class="qodef-package-item-inner">
                    <div class="qodef-package-title-holder">
                <h5 class="qodef-package-title">Standard</h5>
                </div>
            <div class="qodef-package-content-holder">
              <div class="qodef-package-price">
                $58	</div>
              <div class="qodef-package-price-dash">
                <span class="qodef-dash"></span>
              </div>
              <div class="qodef-package-content">
                <div class="qodef-package-listings">
                    <span class="qodef-listings-label">
                        Listings Included:		    </span>
                  <span class="qodef-listings-value">
                        2		    </span>
                </div>
                <div class="qodef-package-featured">
                    <span class="qodef-featured-label">
                        Featured Included:		    </span>
                  <span class="qodef-featured-value">
                        1		    </span>
                </div>
                <div class="qodef-package-duration">
                    <span class="qodef-duration-label">
                        Duration (months):		    </span>
                  <span class="qodef-duration-value">
                        12		    </span>
                </div>
              </div>
              <div class="qodef-package-action">
                <div  class="qodef-btn qodef-btn-medium qodef-btn-simple" (click)="pay(30,'vip_30',1000)">       
                   <span class="qodef-btn-text">Buy Package</span>  
                </div>	
               </div>
            </div>    
          </div>
            </div>
        </div>
      </div>
      
  
    
 
    </div>
  </div>
  
