    <nav class="navbar navbar-expand-md  top-nav">
        <!-- Brand -->
        <a class="navbar-brand" href="#">
            <img src="../../assets/images/smr2.png" width="60" height="60" alt="logo">
             <small>smavil</small> 
          </a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" style="border: 1px solid white;" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon" style="color: #fd961a; z-index: 6;"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/Agent_list">Agents</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Offers">Sell</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/logdes" >Buy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/logdes" >Rent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/blog" >Blog</a>
              </li>
            <li class="nav-item">
              <a class="nav-link"   routerLink="/login" >Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/register" >Register</a>
            </li>    
          </ul>
        </div> 
      </nav>




<router-outlet></router-outlet>

<footer class="site-footer">
    <img src="../../assets/images/smr3.png" width="80" height="80" alt="logo">
  <div class="nav-sep">
    <nav class="nav">
      <ul>
        <li>difi</li>
        <li>ehi</li>
        <li>eihh</li>
        <li>eioh</li>
        <li>eihi</li>
      </ul>
    </nav>
  </div>
  <div class="cop-row">
      <div class="disclaimer">
          Smavil is committed to ensuring digital accessibility for individuals with disabilities. We are continuously working to improve the accessibility of our web experience for everyone, and we welcome feedback and accommodation requests. If you wish to report an issue or seek an accommodation, please 
          <a routerLink="contact/desk/smartvil" rel="nofollow">contact us</a>
      </div>
     <ul class="social">
       <li>jfj</li>
       <li>jg</li>
       <li>jbg</li>
     </ul>
    </div>
   <!--  <div class="img-wrapper">
      <img src="../../assets/images/undraw_best_place_r685.png" class="foot-img" alt="">
    </div> -->
</footer>