<div class="container-fluid">
  <div class="wrapper">
    <div class="form">
      <div class="form_holder">
        <div class="form_header">
          <h4>login</h4>
        </div>
        <div class="form_body">
          <form (ngSubmit)="adsign(ad)" #ad='ngForm'>
            <input type="text" ngModel name="username" id="" class="form-control">
            <input type="password"  ngModel name="password" id="" class="form-control">
            <button>login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>