<div class="site-wrapper">
    <div class="landing">
        <div class="hero c-banner">
                <div class="container hero-container">
                        <h1>The Roommate Marketplace<span class="orange">.</span></h1>
                        <p class="tagline">Find rooms you'll love &amp; roommates like you.</p>
                        <div class="aligncenter hero-action-buttons">
                            <div class="row">
                                <div class="col-6 col-md-6 room"> <a class="button radius" href="/register?purpose=0">Find a Roommate</a></div>
                                <div class="col-6 col-md-6roommate"> <a class="button radius" href="/register?purpose=1">List a Room</a></div>
                           </div>
                          </div>
                      </div>
             </div>

        <div class="column-wrap container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row centered" style="padding: 4.5em 0">
                        <div class="col-md-4 ">
                            <div class="icon">
                                   <i class="fa fa-handshake-o fa-5x"></i> 
                             </div>
                         <h3>Matching Lifestyles</h3>
                         <p>Find roommates that fit your personality and preferences.</p>
                        </div>
                        <div class="col-md-4 ">
                                <div class="icon">
                                     <i class="fa fa-comment fa-5x"></i> 
                                 </div>
                             <h3>Safe Intoduction</h3>
                             <p>Chat with potential roommates selectively &amp; safely on our platform before meeting.</p>
                        </div>
                        <div class="col-md-4 ">
                                <div class="icon">
                                     <i class="fa fa-home fa-5x"></i>
                                 </div>
                             <h3>Feel at home</h3>
                             <p>Share a new apartment or an existing one with a roommate who is the right fit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="o-banner">
                <h2>Finding a great roommate should be hassle free.</h2>
       </div>
       <div class="section">
            <div class="section-header alt">
                    <h2>Meet Your Next Roommate</h2>
                    <p>Some amazing people are already here.</p>
            </div>
            <div class="users users-p container">
                <div class="top-content">
                        <div class="container-fluid">
                            <div id="carousel-example" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner row w-100 mx-auto" role="listbox">
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                                            <img src="../../assets/lodges/98477100_1555893564.jpg" class="img-fluid mx-auto d-block" alt="img1">
                                    </div>
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="user">
                                        <a class="user-link" href="/users/us_fb74e8">
                                            <div class="user-image-wrap">
                                            <div class="user-image">
                                                <img alt="Searching for roommates in Manhattan, Brooklyn, Queens, Jersey City / Hoboken" class="owl-lazy" data-src="https://graph.facebook.com/v2.12/10213094959071895/picture?width=200&amp;amp;height=200" src="https://graph.facebook.com/v2.12/10213094959071895/picture?width=200&amp;amp;height=200" style="opacity: 1;">
                                            </div>
                                            </div>
                                    </a>    <span class="user-title-wrap">
                                            <a class="user-title" href="/users/us_fb74e8" target="_blank">Samantha</a>
                                        </span>
                                        <span class="meta">
                                            F - 28  - Manhattan, Brooklyn, Queens, Jersey City / Hoboken
                                        </span>
                                </div>
                                    </div>
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                                            <div class="user">
                                                    <a class="user-link" href="/users/us_fb74e8">
                                                        <div class="user-image-wrap">
                                                        <div class="user-image">
                                                            <img alt="Searching for roommates in Manhattan, Brooklyn, Queens, Jersey City / Hoboken" class="owl-lazy" data-src="https://graph.facebook.com/v2.12/10213094959071895/picture?width=200&amp;amp;height=200" src="https://graph.facebook.com/v2.12/10213094959071895/picture?width=200&amp;amp;height=200" style="opacity: 1;">
                                                        </div>
                                                        </div>
                                                </a>    <span class="user-title-wrap">
                                                        <a class="user-title" href="/users/us_fb74e8" target="_blank">Samantha</a>
                                                    </span>
                                                    <span class="meta">
                                                        F - 28  - Manhattan, Brooklyn, Queens, Jersey City / Hoboken
                                                    </span>
                                            </div>
                                    </div>
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                                            <div class="user">
                                                    <a class="user-link" href="/users/us_fb74e8">
                                                        <div class="user-image-wrap">
                                                        <div class="user-image">
                                                            <img alt="Searching for roommates in Manhattan, Brooklyn, Queens, Jersey City / Hoboken" class="owl-lazy" data-src="https://graph.facebook.com/v2.12/10213094959071895/picture?width=200&amp;amp;height=200" src="https://graph.facebook.com/v2.12/10213094959071895/picture?width=200&amp;amp;height=200" style="opacity: 1;">
                                                        </div>
                                                        </div>
                                                </a>    <span class="user-title-wrap">
                                                        <a class="user-title" href="/users/us_fb74e8" target="_blank">Samantha</a>
                                                    </span>
                                                    <span class="meta">
                                                        F - 28  - Manhattan, Brooklyn, Queens, Jersey City / Hoboken
                                                    </span>
                                            </div>
                                    </div>
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                                            <div class="user">
                                                    <a class="user-link" href="/users/us_fb74e8">
                                                        <div class="user-image-wrap">
                                                        <div class="user-image">
                                                            <img alt="Searching for roommates in Manhattan, Brooklyn, Queens, Jersey City / Hoboken" class="owl-lazy" data-src="https://graph.facebook.com/v2.12/10213094959071895/picture?width=200&amp;amp;height=200" src="https://graph.facebook.com/v2.12/10213094959071895/picture?width=200&amp;amp;height=200" style="opacity: 1;">
                                                        </div>
                                                        </div>
                                                </a>    <span class="user-title-wrap">
                                                        <a class="user-title" href="/users/us_fb74e8" target="_blank">Samantha</a>
                                                    </span>
                                                    <span class="meta">
                                                        F - 28  - Manhattan, Brooklyn, Queens, Jersey City / Hoboken
                                                    </span>
                                            </div>
                                    </div>
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                                            <div class="user">
                                                    <a class="user-link" href="/users/us_fb74e8">
                                                        <div class="user-image-wrap">
                                                        <div class="user-image">
                                                            <img alt="Searching for roommates in Manhattan, Brooklyn, Queens, Jersey City / Hoboken" class="owl-lazy" data-src="https://graph.facebook.com/v2.12/10213094959071895/picture?width=200&amp;amp;height=200" src="https://graph.facebook.com/v2.12/10213094959071895/picture?width=200&amp;amp;height=200" style="opacity: 1;">
                                                        </div>
                                                        </div>
                                                </a>    <span class="user-title-wrap">
                                                        <a class="user-title" href="/users/us_fb74e8" target="_blank">Samantha</a>
                                                    </span>
                                                    <span class="meta">
                                                        F - 28  - Manhattan, Brooklyn, Queens, Jersey City / Hoboken
                                                    </span>
                                            </div>
                                    </div>
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                                            <div class="user">
                                                    <a class="user-link" href="/users/us_fb74e8">
                                                        <div class="user-image-wrap">
                                                        <div class="user-image">
                                                            <img alt="Searching for roommates in Manhattan, Brooklyn, Queens, Jersey City / Hoboken" class="owl-lazy" data-src="https://graph.facebook.com/v2.12/10213094959071895/picture?width=200&amp;amp;height=200" src="https://graph.facebook.com/v2.12/10213094959071895/picture?width=200&amp;amp;height=200" style="opacity: 1;">
                                                        </div>
                                                        </div>
                                                </a>    <span class="user-title-wrap">
                                                        <a class="user-title" href="/users/us_fb74e8" target="_blank">Samantha</a>
                                                    </span>
                                                    <span class="meta">
                                                        F - 28  - Manhattan, Brooklyn, Queens, Jersey City / Hoboken
                                                    </span>
                                            </div>
                                    </div>
                                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                                            <div class="user">
                                                    <a class="user-link" href="/users/us_fb74e8">
                                                        <div class="user-image-wrap">
                                                        <div class="user-image">
                                                            <img alt="Searching for roommates in Manhattan, Brooklyn, Queens, Jersey City / Hoboken" class="owl-lazy" data-src="https://graph.facebook.com/v2.12/10213094959071895/picture?width=200&amp;amp;height=200" src="https://graph.facebook.com/v2.12/10213094959071895/picture?width=200&amp;amp;height=200" style="opacity: 1;">
                                                        </div>
                                                        </div>
                                                </a>    <span class="user-title-wrap">
                                                        <a class="user-title" href="/users/us_fb74e8" target="_blank">Samantha</a>
                                                    </span>
                                                    <span class="meta">
                                                        F - 28  - Manhattan, Brooklyn, Queens, Jersey City / Hoboken
                                                    </span>
                                            </div>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                   
            <hr class="soft">
            <div class="aligncenter text-center">
                    <a href="/register" class="button cta-n">Get Started</a>
            </div>
            <p style="text-align:center; color:#999;"><strong>Register today to find your next roommate 100% free!</strong> <br></p>
          </div>
    </div>
</div>

