<div class="contaner-fluid">
  <main class="wrapper">
    <div class="picture_view">
         <div class="pic_text">
            <h1 class="title Text-sc-1vuq29o-0 bYiFrJ">Skip the hassle.
                Sell to Zillow.</h1>
                <h3 class="sub-title Text-sc-1vuq29o-0 hyYuIO">Join thousands of homeowners who have received a Zillow Offer.</h3>
         </div>
         <div class="Flex-sc-1qcb5a7-0 sc-gPEVay bAUZWA">
            <form data-testid="address-seach-box-form" class="sc-gZMcBi kpJUIN">
                <div class="row">
                    <div class="col-md-6 col-6">
                        <select name="" id="" class="form-control" required>
                            <option value=""></option>
                          </select>
                    </div>
                    <div class="col-md-6 col-6" required>
                        <select name="" id="" class="form-control">
                            <option value=""></option>
                          </select>
                    </div>
                  </div>  
              <div class="zsg-form-field"><div class="address-search" style="position:relative" id="address-search">
               
                <input type="text" id="address-search" required autocomplete="off" placeholder="Enter full home address" value="" name="address" class="address-search-input Input-sc-7nzn9k-0 cxdUsH">
              </div>
            </div>
            <button class="Button-sc-1ki4y6n-0 jhrenu">Get started</button>
          </form>
        </div>
    </div>
    <div class="container-fluid">
      <div class="service">
          <h2 class="Text-sc-1vuq29o-0 exgKgh">Zillow Offers takes the stress out of selling your home</h2>
          <div class="service_row" style="margin-top: 30px;">
            <div class="row">
              <div class="col-md-3 bQMn">
                <div class="icon-wrapper">
                  <i class="fa fa-home fa-5x"></i>
                </div>
                <div class="icon-content">
                    <div class="item-text-align"><span class="Text-sc-1vuq29o-0 fYfntw">Skip the home prep</span></div>
                    <div class="item-text-align"><span class="Text-sc-1vuq29o-0 bgacaU">Don’t bother cleaning, because you won’t have to show your home.</span></div>
                </div>
              </div>
              <div class="col-md-3 bQMn">
                  <div class="icon-wrapper">
                    <i class="fa fa-clock-o fa-5x"></i>
                  </div>
                  <div class="icon-content">
                      <div class="text-center"><span class="Text-sc-1vuq29o-0 fYfntw">Skip the home prep</span></div>
                      <div class="text-center"><span class="Text-sc-1vuq29o-0 bgacaU">Don’t bother cleaning, because you won’t have to show your home.</span></div>
                  </div>
                </div>
                <div class="col-md-3 bQMn">
                    <div class="icon-wrapper">
                      <i class="fa fa-calendar fa-5x"></i>
                    </div>
                    <div class="icon-content">
                        <div class="item-text-align"><span class="Text-sc-1vuq29o-0 fYfntw">Skip the home prep</span></div>
                        <div class="item-text-align"><span class="Text-sc-1vuq29o-0 bgacaU">Don’t bother cleaning, because you won’t have to show your home.</span></div>
                    </div>
                  </div>
                  <div class="col-md-3 bQMn">
                      <div class="icon-wrapper">
                        <i class="fa fa-support fa-5x"></i>
                      </div>
                      <div class="icon-content">
                          <div class="item-text-align"><span class="Text-sc-1vuq29o-0 fYfntw">Skip the home prep</span></div>
                          <div class="item-text-align"><span class="Text-sc-1vuq29o-0 bgacaU">Don’t bother cleaning, because you won’t have to show your home.</span></div>
                      </div>
                    </div>
            </div>
          </div>
      </div>
      <div class="description">
          <div class="Flex-sc-1qcb5a7-0 efssUb">
            <h2 class="Text-sc-1vuq29o-0 ieatrw">Selling has never been easier</h2>
            <span class="Text-sc-1vuq29o-0 bgacaU">Join thousands of other sellers and keep it simple with Zillow Offers.</span>
          </div>
         
         
          <div class="row">
            <div class="col-md-4">
                <div class="box gallery">
                    <div class="card">
                      <div class="background" style="background-image: url(../../assets/lodges/53814700_1555903252.jpg)">
                        
                      </div>  
                      <a href="#" class="overlay">
                      </a>
                      <a href="#">
                          <span class="number">1</span>
                      </a>
                      <a class="thumb" href="#">
                          <div class="info">
                              <h2>
                                  <a href="#">Answer a few questions and snap some photos – no need to clean! We'll review the information and calculate your offer.
                                    </a>
                              </h2>
                              <div class="foot">
                                <i class="line"></i>
                                <span class="date">18 February 2015</span>
                                <a href="#" target="_blank" class="social">
                                  <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" target="_blank" class="social">
                                <i class="fa fa-twitter"></i>
                                </a>
                              </div>
                            </div>
                      </a>
                        </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="box gallery">
                    <div class="card">
                      <div class="background" style="background-image: url(../../assets/lodges/53814700_1555903252.jpg)">
                       
                      </div>  
                      <a href="#" class="overlay">
                      </a>
                      <a href="#">
                          <span class="number">2</span>
                      </a>
                      <a class="thumb" href="#">
                          <div class="info">
                              <h2>
                                <a href="#">If your home is eligible, we'll send your cash offer within a few days, then you decide what's next: Accept the offer, decline the offer or work with an agent. It's up to you  – there's no obligation.
                                </a>
                                
                              </h2>
                              <div class="foot">
                                <i class="line"></i>
                                <span class="date">18 February 2015</span>
                                <a href="#" target="_blank" class="social">
                                  <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" target="_blank" class="social">
                                <i class="fa fa-twitter"></i>
                                </a>
                              </div>
                            </div>
                      </a>
                        </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="box gallery">
                    <div class="card">
                      <div class="background" style="background-image: url(../../assets/lodges/53814700_1555903252.jpg)">
                       
                      </div>  
                      <a href="#" class="overlay">
                      </a>
                      <a href="#">
                        <span class="number">3</span>
                      </a>
                      <a class="thumb" href="#">
                          <div class="info">
                              <h2>
                                <a href="#">Once you accept the offer, pick a closing date that works for you. We'll arrange a home evaluation and prepare your payment!
                                </a>
                               
                              </h2>
                              <div class="foot">
                                <i class="line"></i>
                                <span class="date">18 February 2015</span>
                                <a href="#" target="_blank" class="social">
                                  <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" target="_blank" class="social">
                                <i class="fa fa-twitter"></i>
                                </a>
                              </div>
                            </div>
                      </a>
                        </div>
                  </div>
            </div>
          </div>
          
      </div>
    </div>
  </main>
</div>