$mobile : 640px;
$tablet : 800px;
$desktop : 1024px;

@mixin responsify($breakpont) {
  @media (max-width: $breakpont){
    @content;
  }
}

.wrapper{
    .picture_view{
        min-height: 660px;
        background-image: url('../../assets/lodges/53814700_1555903252.jpg');
        display: flex;
        flex-direction: column;
        -webkit-box-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        align-items: center;
        background-size: cover;
        margin-bottom: inherit;
        min-height: 550px;
        background-position: center center;
        background-repeat: no-repeat;
        padding: 80px 12px;
        .pic_text{
            margin-bottom: 40px;
            .title{
                color: rgb(84, 84, 90);
                font-weight: 800;
                white-space: pre-wrap;
                @include responsify($mobile){
                    color: rgb(14, 14, 239);
                }
            }
            .sub-title {
                font-size: 20px;
            }
        }
        .bAUZWA {
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
            * {
                width: 100%;
                max-width: 650px;
            }
            .kpJUIN {
                margin-bottom: 16px;
                position: relative;
                .zsg-form-field {
                    margin-bottom: 15px;
                }
                #address-search {
                    height: 61px;
                     input {
                        padding-left: 15px;
                        padding-right: 140px;
                        text-overflow: ellipsis;
                        border-radius: 5px;
                    }
                }
               button {
                    height: 42px;
                    position: absolute;
                    right: 8px;
                    top: 47px;
                    width: 130px;
                }

                .jhrenu {
                    -webkit-font-smoothing: antialiased;
                    font-family: Tahoma, Geneva, sans-serif;
                    font-weight: 600;
                    font-size: 14px;
                    letter-spacing: 0px;
                    text-transform: none;
                    text-align: center;
                    display: inline-block;
                    box-sizing: border-box;
                    width: auto;
                    user-select: none;
                    padding-left: 20px;
                    padding-right: 20px;
                    cursor: pointer;
                    padding-top: 9px;
                    padding-bottom: 9px;
                    height: 42px;
                    line-height: 22px;
                    color: rgb(255, 255, 255);
                    background-color: rgb(0, 106, 255);
                    margin: 0px;
                    text-decoration: none;
                    border-width: 1px;
                    border-style: solid;
                    border-image: initial;
                    border-radius: 3px;
                    transition: all 0.2s ease 0s;
                    border-color: rgb(0, 106, 255);
                }
               
            }
           
        }
    }
    .service{
        margin: 54px auto 100px;
        .exgKgh {
            color: rgb(42, 42, 51);
            -webkit-font-smoothing: antialiased;
            font-family: Tahoma, Geneva, sans-serif;
            font-weight: 600;
            font-size: 26px;
            line-height: 32px;
            letter-spacing: 0px;
            text-transform: none;
            margin: 0px;
            text-align: center;
            @include responsify($mobile){
                font-weight: 600;
                font-size: 20px;
                color: black
            }
        }
        .service_row{
            text-align: center;
            .bQOkmg {
                display: flex;
                margin-top: 32px;
                margin-left: 16px;
                margin-right: 16px;
                .icon-wrapper {
                    padding-top: 6px;
                }
                .icon-content {
                    margin-left: 0px;
                    .fYfntw {
                        color: rgb(42, 42, 51);
                        -webkit-font-smoothing: antialiased;
                        font-family: Tahoma, Geneva, sans-serif;
                        font-weight: 700;
                        font-size: 17px;
                        line-height: 26px;
                        letter-spacing: 0px;
                        text-transform: none;
                        margin: 0px;
                    }
                    .bgacaU {
                        color: rgb(42, 42, 51);
                        -webkit-font-smoothing: antialiased;
                        font-family: Tahoma, Geneva, sans-serif;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0px;
                        text-transform: none;
                        margin: 0px;
                    }
                }
            }
        }
    }
    .description{
        background-color: rgb(249, 249, 251);
        padding-top: 40px;
        margin-bottom: 60px;
        .efssUb {
            margin-bottom: 40px;
            margin-left: 8px;
            margin-right: 8px;
            text-align: center
        }
         .selling_step_wrapper {
            max-width: 1280px;
            margin-left: auto;
            margin-right: auto;
            .first_step{
                display: flex;
                flex-direction: column;
                height: 350px;
                -webkit-box-pack: end;
                justify-content: flex-end;
                background-position: left 248px center;
                padding: 30px 0px;
               
    .first_text{
        background-color: white;
        padding: 20px;
         .step-number {
            background-color: rgb(0, 106, 255);
            color: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            height: 50px;
            -webkit-box-pack: center;
            justify-content: center;
            margin-bottom: 15px;
            text-align: center;
            width: 50px;
            border-radius: 50%;
        }
    }
            }
        }
    }
}



.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}


/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/